/*
* Footer block styles.
*/

footer {
    display: flex;
    justify-content: center;
    padding: 30px 40px;

    .copyright {
        color: $color-g;
        font-size: 0.8em;
        text-align: center;

        a {
            color: $color-sd;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
            }
        }


    }
}
