/*
* Header block styles.
*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 40px 50px;

    .logo {
        text-align: center;
        font-size: 1.7em;
        font-weight: 300;
        color: $color-sd;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

        strong {
            font-size: 1.2em;
            color: $color-pd;
            font-weight: 700;
            padding-right: 5px;
        }
    }
}
