/*
* Result block styles.
*/
#list-trip {
    max-width: 940px;
    min-width: 320px;
}

.result-content {
    max-width: 940px;
    margin: 20px 20px 0;
    padding: 30px;
    background-color: $color-bgwd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 2px 2px 6px 2px $color-bgl;
    transition: all 0.3 ease;

    &.done {
        opacity: 0.8;
        background-color: $color-bgwl;
    }
}

.result-info {
    width: 48%;
    padding-right: 40px;
    border-right: 1px solid $color-gl;

    .info-image{
        position: relative;
        margin-bottom: 20px;
        min-height: 50px;
        background-color: $color-bgl;

        img {
            border: 1px solid $color-gl;
        }

        figcaption {
            color: $color-w;
            padding: 10px;
            background-color: $color-bg;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .country-info {
        margin-top: 4px;
        font-size: 0.8em;
        color: $color-g;

        .data {
            margin-left: 5px;
            font-weight: 700;
            color: $color-gd;
        }
    }

    .country {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        .flag {
            height: 20px;
            margin-left: 5px;
            display: inline-block;
            img {
  
                height: 20px;
                border: 1px solid $color-gl;
            }
        }
    }
}

.result-trip {
    width: 48%;

    .weather-content {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin-bottom: 10px;
    }

    .trip-to,
    .departing {
        font-size: 1.2em;
        font-weight: 600;
        color: $color-gd;
    }

    .departing {
        margin-bottom: 20px;
    }

    .amount,
    .weather-range {
        font-size: 1.1em;
        font-weight: 400;
        color: $color-gd;
    }

    .amount {
        padding: 0 0 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid $color-gl;
    }

    .weather-range {
        padding: 15px 0;
        margin-bottom: 20px;
        border-top: 1px solid $color-gl;
        border-bottom: 1px solid $color-gl;
    }

    .weather-start,
    .weather-depart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            padding: 0 10px;
            text-align: center;
            font-size: 0.9em;
            font-weight: 600;
            color: $color-gd;
        }

        .weather-icon {
            img {
                width: 80px;
            }
        }

        .weather-temp, 
        .weather-descr {
            font-size: 0.9em;
            color: $color-g;

            strong {
                color: $color-gd;
            } 

            & > div {
                margin-bottom: 3px;
            } 
        }
    }

    .btn-group {
        text-align: right;

        button {
            cursor: pointer;
            padding: 7px 14px;            
            margin: 0 5px;
            font-size: 1em;

            .done-trip {
                display: none;
            }

            &.remove-trip {
                background-color: $color-gl
            }

            &.remove-trip:hover {
                background-color: $color-g;
            }
        }
    }
}

#result-trip {
    .result-content {
        padding: 20px 20px 30px;
    }
    .done-trip {
        display: none;
    }
}

@media(min-width: 710px) {
    .result-content {
        min-width: 640px;
    }
}

@media(max-width: 710px) {
    .result-content {        
        padding: 20px;
        flex-direction: column;
        justify-content: start;

        .result-info {
            width: 100%;
            padding: 0 0 20px;
            border-right: none;
            border-bottom: 1px solid $color-gl;
            margin-bottom: 20px;
        }

        .result-trip {
            width: 100%;
        }

        .btn-group {
            text-align: center;
    
            button {
                cursor: pointer;
                padding: 5px 10px;            
                margin: 0 3px;
                font-size: 0.9em;
            }
        }
    }
}

/* Modal window */
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    outline: 0;
}

.modal.active {
    display: block;
}

.modal-curtain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-bgd;
}

.modal-content {
    padding: 0;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $color-w;
    border: 1px solid $color-gl;
    box-shadow: 3px 4px 10px 3px $color-bg;
    z-index: 200;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .result-content {
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    } 
}

.question-delete {
    padding: 30px;
}

.modal-content .question {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 400;
    color: $color-pd;
}

.modal-content .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-content .btn-group .btn {
    display: inline-block;
    padding: 6px 20px 8px;
    color: $color-w;
    border: none;
    border-radius: 8px;
    margin: 0 10px;
    opacity: 1;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    border: none;
    transition: all 0.3s ease;
}

.modal-content .btn-group .btn-delete {
    background-color: $color-r;
}

.modal-content .btn-group .btn-delete:hover {
    background-color: $color-rl;
}

.modal-content .btn-group .btn-cancel {
    background-color: $color-gl;
}

.modal-content .btn-group .btn-cancel:hover {
    background-color: $color-g;
}

@media(max-width: 710px) {
    .modal-content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        transform: none;
        overflow-x:scroll;
    }
}

/* Preloader - https://loading.io/css/ */
.loader {
    width: 240px;
    height: 150px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loader-text {
        margin-top: 25px;
        font-weight: 600;
        color: $color-sd;
    }
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

}
.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: $color-sd;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}
  
.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;  
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
